lmanager    2
reproj                true
themis.state.nk       /themis/naif/state.nk
fastpan.msecs         1000
fastpan.msecs.init    100
fastpan.debug         false
log.filename          debuglog.txt
log.maxsize           65536
log.dropfraction      4
factory.1  edu.asu.jmars.layer.map2         MapLViewFactory
factory.2  edu.asu.jmars.layer.stamp        StampMultiFactory
factory.3  edu.asu.jmars.layer.shape2       ShapeFactory
factory.4  edu.asu.jmars.layer.mosaics      MosaicsLViewFactory
factory.5  edu.asu.jmars.layer.nomenclature NomenclatureFactory
factory.6  edu.asu.jmars.layer.threed       ThreeDFactory
factory.7  edu.asu.jmars.layer.grid         GridFactory
factory.8  edu.asu.jmars.layer.groundtrack  GroundTrackFactory
db         jdbc:mysql://themis-data.asu.edu/themis3?
db_themis  jdbc:mysql://themis-data.asu.edu/themis3?
keyServer  https://secure.mars.asu.edu/about.txt?
about      https://secure.mars.asu.edu/about.txt?
map.map_server.default.title Mars Spaceflight Facility MapServer
map.map_server.default.custom false
map.map_server.default.timeout 10000
map.map_server.default.maxRequests 5
map.map_server.default.url http://jmars.asu.edu/maps/filter/mars?jmars_timestamp=_timestamp_
map.map_server.custom.title Mars Spaceflight Facility Custom MapServer
map.map_server.custom.custom false
map.map_server.custom.timeout 10000
map.map_server.custom.maxRequests 5
map.map_server.custom.url http://jmars.asu.edu/maps/custom
map.default.server default
map.default.source MOLA_64ppd
map.retriever.threadCount 5
map.cache.tileThreadCount 10
map.cache.fuzzyThreadCount 5
map.download.threadCount 20
tiles.version        2
tiles.graphic        http://ms.mars.asu.edu/?
tiles.numeric        http://ms.mars.asu.edu/?
tiles.bot            http://ms.mars.asu.edu/?
tiles.cust.upload    http://ms.mars.asu.edu\:8080/?
tiles.cust.remoteget http://ms.mars.asu.edu\:8080/?
stamps.offsetdb				jdbc:mysql://db.mars.asu.edu/themis2?
stamps.btr.browse_http        http://themis-data.asu.edu/img
stamps.btr.themis_http        http://themis-data.asu.edu/img/data
stamps.btr.local_dir          BTR_DATA
stamps.btr.local_http         http://
stamps.btr.btr_subdir         odtib0_xxxx
stamps.btr.abr_subdir         odtvb0_xxxx
stamps.btr.copy_visible       true
stamps.btr.copy_enabled       true
stamps.btr.local_http_enabled false
stamps.list_cache             cached_themis_stamps.dat
moc.gallery.browse   http://global-data.mars.asu.edu/moc/img/
moc.gallery.data      http://jmars.asu.edu/moc_gallery/
moc.list_cache       cached_moc_stamps.dat
viking.gallery.browse     http://global-data.mars.asu.edu/viking/img/
tes.db.url                    jdbc:postgresql://db2.mars.asu.edu/tes
tes.db.user                   tes
tes.db.passwd                 my0tes
tes.db.logSql                 true
tes.db.dataTable              v
tes.db.polyTable              v
tes.db.polyEncoding           array
tes.db.fieldDescTable         field_desc
tes.db.regionDescTable        regions
tes.db.templateTable          validator
tes.db.regionSplitTable       true
tes.maxPpdDrawFpCenters         16
tes.maxPpdDrawDetectorCenters   32
tes.maxPpdDrawInterpolatedPolys 128
tes.maxPpdDrawRealPolys         256
tes.showGrid                    false
tes.maxContexts                 10
tes.animatedPoly.animationDelay 200
shape.history_size               50
shape.featurefactory.1           edu.asu.jmars.layer.util.features.FeatureProviderASCII
shape.featurefactory.2           edu.asu.jmars.layer.util.features.FeatureProviderESRI
shape.featurefactory.3           edu.asu.jmars.layer.util.features.FeatureProviderGML
shape.featurefactory.4           edu.asu.jmars.layer.util.features.FeatureProviderMRO_ROI
shape.featurefactory.5           edu.asu.jmars.layer.util.features.FeatureProviderNomenclature
threed.default_elevation.server  default
threed.default_elevation.source  MOLA_Elevation
mosaics.server.url		http://jmars.asu.edu/maps/mosaics
groundtrack          http://jmars.asu.edu/internal/time_track.phtml?
groundtrack.primary  14400
groundtrack.chunksize 200
edu.asu              var
pre_cache_directory  PreCache
windows_base_dir     c:
hvector.out.ll       false
projection.round     45
time.db              http://jmars.asu.edu/internal/time_db.phtml
time.db.craft.ODY    -53
time.db.craft.MEX    -41
time.db.craft.MGS    -94
tooltip.dismiss       10000
default.time.format   E
wikipage             http://jmars.asu.edu/
reportpage           http://jmars.asu.edu/report.php
homepage             http://jmars.asu.edu
edition              JMARS (public)
email                help@jmars.asu.edu
login.lbl            E-Mail:
Gtiles.group.1         Mola
Gtiles.group.2         MOC
Gtiles.group.3         Viking
Gtiles.group.4         TES
Gtiles.group.5         THEMIS
Gtiles.group.6         THEMIS NPLD
Gtiles.group.7         THEMIS SPLD
help.title              Help!
help.directory          help/
help.main               index.html
